/* Estrutura do site
-------------------------------------------------*/

body {
    font: 16px Helvetica, 'Times New Roman', serif;
    background: #dbd5c9;
}

html, body, #capa {
    height: 100%;
}

/* Formatação do topo
-------------------------------------------------*/

.linha-vertical {
    background-color: #edeae4;
    width: 2px;
    height: 100%;
    position: absolute;
    display: flex;
    left: auto;
    top: 0;
    bottom: 0;
    right: 36%;
}

.linha-horizontal {
    background-color: #edeae4;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 75%;
    right: 0;
}

nav {
    background: #001219e7;
}

#logo h1 {
    background: url(../img/logo1.png) no-repeat;
    width: 60px;
    text-indent: -9000px;
    margin: 0;
    margin-top: -10px;
}

.inicio {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 5px;
    color: #e9d8a6;
    position: relative;
}

#menu-principal a {
    color: #e9d8a6;
    padding: 10px;
    margin: 10px 20px;
    position: relative;
}

#menu-principal a:hover, .inicio:hover {
    color: #fff;
}

#menu-principal a::after, .inicio::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0%;
    left: 50%;
    background: #ae2012;
    bottom: 0;
    transition: 0.3s ease-out;
}

#menu-principal a:hover::after, .inicio:hover::after {
    left: 0;
    width: 100%;
}

.navbar-toggler {
    background: #ee9b00;
}

/* Formatação da capa
-------------------------------------------------*/

#capa {
    background: url(../img/topo2.jpg) no-repeat top center;
}

.nome {
    margin-top: 420px;
}

.ola {
    color: #ae2012;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: -20px;
    font-size: 1.2rem;
}

.wr {
    color: #fff;
    font-family: 'Times New Roman';
    position: relative;
    margin: 20px;
}

.designer {
    background: #ae2012;
    padding: 10px;
    color: #fff;
    display: inline;
    font-weight: bold;
    letter-spacing: 5px;
    margin-left: 10px;
}

/* Breakpoints responsivos
-------------------------------------------------*/

@media (max-width: 575.98px) { /* Extra small */
    
}

@media (min-width: 576px) and (max-width: 767.98px) { /* Small */
    
}

@media (min-width: 768px) and (max-width: 991.98px) { /* Medium */
    
}

@media (min-width: 992px) and (max-width: 1199.98px) { /* Large */
    
}

@media (min-width: 1200px) { /* Extra large */
    .container {
        width: 1920px;
    }
}